.cart-con li{
	float: left;
	margin-right: 0;
}
/*购物车进度条分属页*/
.bord-bot{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid red;
}
.pad-bg1-0{
	padding: 7px 55px;
	background: url(../img/shop_cart/grey.png)
	 no-repeat;
	font-size: 18px;
}
.pad-bg1-1{
	padding: 7px 55px;
	background: url(../img/shop_cart/red.png)
	 no-repeat;
	color: white;
	font-size: 18px;
}
.pad-bg2-0{
	padding: 7px 66px;
	background: url(../img/shop_cart/grey2.png)
	 no-repeat;
	font-size: 18px;
}
.pad-bg2-1{
	padding: 7px 66px;
	background: url(../img/shop_cart/red2.png)
	 no-repeat;
	color: white;
	font-size: 18px;
}
.pad-bg3-0{
	padding: 7px 66px;
	background: url(../img/shop_cart/grey3.png)
	 no-repeat;
	font-size: 18px;
}
.pad-bg3-1{
	padding: 7px 66px;
	background: url(../img/shop_cart/red3.png)
	 no-repeat;
	color: white;
	font-size: 18px;
}
/*购物内容*/
.rt-mar{
	margin-left: 120px;
}
.rt-pad{
	padding-left: 20px;
}
.cart-con{
	-webkit-padding-start: 0px;
}
.d-img{
	display: inline-block;
	width: 80px;
	height: 80px;
	text-align: center;
}
.t-img{
	margin-top: 8px;
	max-width: 80px;
	max-height: 80px;
}
.t-title{
}
.t-title:hover{
	color: orangered;
}
.change{
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	height: 28px;
	width: 28px;
	background-color: #f4f4f4;
	float: left;
	border-top: 1px solid gainsboro ;
	border-bottom: 1px solid gainsboro;
}
.jian1{
	border-left: 1px solid gainsboro;
	cursor: pointer;
}
.jia1{
	border-right: 1px solid gainsboro;
	cursor: pointer;
}
.add-num{
	width: 30%;
	height: 28px;
	float: left;
}
.t-price{
	display: inline-block;
	color: red;
	font-size: 18px;
}
.t-time{
	color: gainsboro;
}
.t-delete{
	margin-left: 15px;
}
.h-wu{
	height: 40px;
	padding: auto;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.no-margin{
	margin-top: 0;
	margin-bottom: 0;
}
.min-h{
	min-height: 370px;
}
.pay{
	padding: 5px;	
	margin: 0;
}
.payment{
	text-align: center;
	color: red;
}
.bord-li{
	background-color: #f2f2f2;
	border-radius: 4px;
	min-height: 106px;
}
.bord-li2{
	background-color: #f2f2f2;
	border-radius: 4px;
	min-height: 126px;
}
.bord-ul{
	background-color: #f1f5f8;
	width: 100%;
	height: 32px!important;
}

/*shopping-cart2*/
.address{
	border: 2px solid red;
	border-radius: 3px;
}
.address li{
	margin: 0;
}
.bord-list{
	border: 1px solid gainsboro;
	margin-bottom: 20px;
}
.bord-list-0{
	border: 1px solid gainsboro;
}
.addr-info{
	display: inline-block;
	padding-right: 18px;
}
.xs-font{
	font-size: 13px;
}
.sm-font{
	font-size: 16px;
}
.zhifu{
	margin-top: -6px;
}
/*订单分属页*/
.nav{
	padding-bottom: 10px;
	border-bottom: 2px solid red;
}
.nav ul .color {
    background: #006699;
    color: white;
}
.nav ul li,
.nav ul .custom-tab {
    display: block;
    float: left;
    margin: 0;
    border: 1px solid #006699;
    padding: 5px 10px;
    text-align: center;
    font-family: KaiTi;
    font-size: 19px;
    cursor: pointer;
}
.nav ul .custom-tab {
	transition: background 0.5s, color 0.5s;
}
.nav ul .custom-tab:hover {
	background: #006699;
    color: white;
}
.order-check{
	border: 0;
	margin-left: 240px;
}
.color-gr{
	color: gray;
}
.color-re{
	color: red;
}
.content {
	position: relative;
	min-height: 500px;
}
.con {
	position: relative;
	top: 0px;
	left: 0px;
	display: none;
}
.bord-list-0>.form-control>span{
	padding: 0 10px;
}
.but{
	margin-top: -4px;
	padding: 3px;
	background-color: #D31718;
	color: white;
	border-radius: 2px;
	border: 0;
}
.wid-all{
	width: 100%;
}

/*wish收藏*/
.lf-nav{
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
}
.lf-nag-bgc{
	background-color: #c63b40;
	margin-top: 0;
	padding: 10px;
	padding-left: 20px;
	color: white;
}
.lf-nav-ul>li{
	margin-bottom: 15px;
	border-bottom: 1px solid gainsboro;
}

.hidden-font{
	background-color: #6b3c76;
	color: white;
	font-family: KaiTi;
}
